// var includes all custom variables
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');

@import "variables";

@import "~bulma";
@import "~shred-bootstrap/css/utilities/text.css";
@import "~shred-bootstrap/css/utilities/shadows.css";
@import "~shred-bootstrap/css/utilities/spacing.css";

@import "sweetAlertCustom";


body{
  font-family: 'Balsamiq Sans', cursive;
}

.button{
  font-family: 'Balsamiq Sans', cursive;
}


 .input, .textarea, .select select {
   font-family: 'Balsamiq Sans', cursive;
   background-color: #3298dc;
   border-color: #3298dc;
   border-radius: 4px;
   color: #ffffff;
 }


